# via mne-python
name: Check Changelog
permissions:
  contents: read

# This check makes sure that the changelog is properly updated
# when a PR introduces a change in a test file.
# To bypass this check, label the PR with "No Changelog Needed".
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  changelog_checker:
    name: Check towncrier entry in changes/
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          # `towncrier check` runs `git diff --name-only origin/main...`, which
          # needs a non-shallow clone.
          fetch-depth: 0

      - name: Set up UV and Python "3.12"
        id: setup-uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false
          # cache-dependency-glob: |
          #   **/requirements*.txt
          #   **/pyproject.toml
          #   **/uv.lock

      - name: Setup Python "3.12"
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # - name: Check if tests have changed
      #   id: tests_changed
      #   run: |
      #     set -xe
      #     changed_files=$(git diff --name-only origin/main)
      #     # Changelog should be updated only if tests have been modified
      #     if [[ "$changed_files" =~ tests ]]
      #     then
      #       echo "check_changelog=true" >> $GITHUB_OUTPUT
      #     fi

      # - name: Check changelog entry
      #   if: steps.tests_changed.outputs.check_changelog == 'true'
      #   uses: scientific-python/action-towncrier-changelog@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     BOT_USERNAME: changelog-bot
